@import './variables';
@import './expression-graph.scss';
@import './landing-page.scss';
@import './header.scss';
@import './all-graphs.scss';
@import './footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .app-container {
      font-family: $font-secondary;
      width: 100%;
      background-color: #EFF2F4;
      min-height: 100vh;
      overflow: hidden;
  
      .visible-block {
        display: block;
      }
  
      .visible-flex {
        display: flex;
      }
  
      .invisible {
        display: none !important;
      }
  
      button {
        border: none;
        font-family: $font-primary;
        font-size: 1em;
      }

      .title {
        color: #2E3133;
        font-weight: 800;
        font-style: italic;
        font-size: 3em;
      }
    }
  }
  