@import './variables';
@import './expression-graph.scss';

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .app-container {
      font-family: $font-primary;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .visible-block {
        display: block;
      }
  
      .visible-flex {
        display: flex;
      }
  
      .invisible {
        display: none !important;
      }
  
      button {
        border: none;
        font-family: $font-primary;
        font-size: 1em;
      }
    }
  }
  